$primary-font: 'Montserrat', sans-serif;
$secondary-font: 'Playfair Display', serif;

$primary: #f0936f;
$secondary: #0f1616;

$primary-light: #f6b18a;
$primary-dark: #d39480;

$bg-color: #fff;

$black-100: #000;
$black-80: rgba(#000, 0.8);
$black-70: rgba(#000, 0.7);
$black-60: rgba(#000, 0.6);
$black-40: rgba(#000, 0.4);
$black-20: rgba(#000, 0.2);
$black-10: rgba(#000, 0.1);

$white-100: #fff;
$white-80: rgba(#fff, 0.8);
$white-70: rgba(#fff, 0.7);
$white-60: rgba(#fff, 0.6);
$white-40: rgba(#fff, 0.4);
$white-20: rgba(#fff, 0.2);
$white-10: rgba(#fff, 0.1);

$base-layer: 0;
$loader-layer: 1;
