@import '_variables.scss';
@import '_global.scss';

.container {
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-family: $primary-font;
  // background: #0f1616;
  background: $secondary;
  // color: $white-80;
  background-size: 60% 100%;
  background-repeat: no-repeat;
  // background-position: 50%;
  $self: &;

  &,
  & * {
    box-sizing: border-box;
  }

  &__home {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
  }

  &__loader {
    width: 100px;
    height: 100px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: $loader-layer;
  }

  &__action-btns {
    display: flex;
    width: 312px;
    height: 337px;
    flex-direction: column;
    align-items: center;
    background-size: contain;
    padding-top: 24px;

    .button:not(:first-child) {
      margin-top: 40px;
    }
  }

  &__feature-wrapper {
    width: 100%;
    padding: 0 24px;
  }

  &__feature-list {
    width: 100%;
    height: 72px;
    display: flex;
    align-items: center;
    padding-left: 20px;
    font-size: 14px;
    line-height: 150%;
    letter-spacing: 0.12em;
    color: $primary;
    cursor: pointer;
    border-bottom: 1px solid rgba(240, 147, 111, 0.2);
    white-space: nowrap;

    &:hover {
      font-weight: bold;
    }

    & label {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      padding-left: 20px;
      cursor: pointer;
    }

    &#{$self}__upload-photo {
      padding: 0;
    }
  }

  &__feature-icon {
    width: 20px;
    margin-right: 26px;
  }

  &__file-upload {
    width: 0;
    height: 0;
    visibility: hidden;
    user-select: none;
  }

  &__watermark-wrapper {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 150%;
    color: $white-40;
  }

  &__watermark {
    height: 19px;
    margin-left: 12px;
  }

  &__models-view {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: $primary;
  }

  &__models {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    padding: 0 24px;
  }

  &__live-preview-btn {
    display: flex;
    align-items: center;
    white-space: nowrap;
  }

  &__model-img {
    display: block;
    width: 30%;
    max-height: 123px;
    padding: 4px;
    cursor: pointer;

    &[data-visible='false'] {
      display: none;
    }
  }

  &__playground {
    position: relative;
    display: flex;
    height: 100%;
  }

  &__video {
    display: block;
    position: absolute;
    top: 0;
    opacity: 0;
    pointer-events: none;
  }

  &__toolbar {
    display: flex;
    position: absolute;
    top: 12px;
    right: 12px;
    align-items: center;

    img {
      width: 26px;
      cursor: pointer;

      &:not(:last-child) {
        margin-right: 14px;
      }

      &[data-visible='false'] {
        display: none;
        user-select: none;
        pointer-events: none;
      }
    }
  }

  &__result-canvas {
    background-color: $black-100;
  }

  &__proxy-canvas {
    display: none;
  }

  &__modal {
    position: fixed;
    top: 10%;
    left: 0;
    width: 100%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px;
    font-weight: bold;
    color: $primary;

    &-inner {
      background-color: $white-100;
      padding: 16px;
      text-align: center;
    }

    &-button {
      padding: 0;
      height: 32px;
      width: 56px;
      display: block;
      margin: auto;
      margin-top: 12px;
      border: none;
      cursor: pointer;
      box-sizing: border-box;
      font-family: $primary-font;
      font-style: normal;
      font-weight: 700;
      font-size: 12px;
      line-height: 150%;
      color: $black-100;
      text-transform: uppercase;
      background: linear-gradient(95.79deg, #f0936f 20.21%, #d39480 88.1%);

      &:hover {
        background: linear-gradient(95.79deg, #d39480 20.21%, #f0936f 88.1%);
      }
    }
  }
  &__tryon_console_wrapper {
    // width: 45%;
    padding: 1.5rem;
  }
  &__frame_wrapper {
    width: 55%;
    border-radius: 2rem;
  }
  &__tabWrapper {
    display: flex;
    border-bottom: 1px solid grey;
    gap: 1.5rem;
    padding: 0.8rem 0.2rem;
    font-size: 1.3rem;
    margin-bottom: 1rem;
  }
  &__tabItem {
    cursor: pointer;
  }
  &__selectedTabItem {
    color: $primary;
  }
  &__colorPicker {
    margin-top: 3rem;
    padding: 0.5rem 1rem;
    width: 100%;
    height: 5rem;
    border-radius: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
  }
  &__colorBox {
    width: 2.5rem;
    height: 2.5rem;
    border: 1px solid black;
    cursor: pointer;
    border-radius: 50%;
  }
}

.d-flex {
  display: flex;
  flex: 1;
}
.logo_container {
  padding: 2rem;
  margin: 1rem 0;
}

.bordered_color_btn {
  border: 4px solid black;
}

.sidebar {
  position: relative;
  z-index: 1;
  width: 0;
  transition: width 0.5s ease-out;
  width: 230px;

  &__hamburger {
    height: 64px;
    padding: 24px;
    cursor: pointer;
    position: absolute;
    left: 0;
    background-color: $secondary;
  }

  &__body {
    width: 100%;
    overflow: hidden;
  }

  &__title {
    height: 64px;
    display: flex;
    align-items: center;
  }
  &__logo {
    width: 100px;
    margin-left: 80px;
  }
}
.sidebar-item {
  position: relative;
  display: flex;
  width: 100%;
  color: white;
  &-tabs__wrapper {
    flex-direction: row;
    align-items: center;
    overflow: hidden;
  }
  &-tabs__item {
    height: 64px;
    display: flex;
    align-items: center;
    flex: none;
    color: $primary;
    padding: 24px;
    white-space: nowrap;
    overflow: hidden;
    cursor: pointer;
    user-select: none;

    &--selected {
      // background-color: $black-40;
      font-weight: bold;
    }
  }
}
.config__tabs-container {
  display: flex;
  flex-direction: column;
  flex: 1;
  max-width: 600px;
  margin-top: 2rem;
}
.config__tabs {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;

  .tab_items {
    min-height: 50px;
    align-items: center;
    display: flex;
    color: $primary;
    cursor: pointer;
  }
  .selected_tab {
    font-weight: 700;
    border-bottom: 4px solid;
  }
}

.color_area {
  margin-top: 100px;
  display: flex;
  justify-content: space-between;
  margin-left: 2.5rem;
}

@media screen and (max-width: 780px) {
  body {
    height: 100vh;
  }
  .container {
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-end;

    .container__tryon_console_wrapper {
      width: 100%;
    }

    .container__frame_wrapper {
      width: 100%;
      // height: 50%;
      max-height: 400px;
      overflow: hidden;
    }

    .container__tabItem {
      font-size: 1rem;
    }

    .container__colorPicker {
      margin-top: 1.5rem;
    }
  }
  .logo_container {
    margin: 0;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
}
