@import '_variables.scss';
@import '_global.scss';

.container {
  position: relative;
  display: flex;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  font-family: $primary-font;
  // background: #0f1616;
  background: $secondary;
  // color: $white-80;
  // background-size: 60% 100%;
  // background-repeat: no-repeat;
  // background-position: 50%;
  $self: &;

  &,
  & * {
    box-sizing: border-box;
  }

  &__home {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
  }

  &__loader {
    width: 100px;
    height: 100px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: $loader-layer;
  }

  &__action-btns {
    display: flex;
    width: 312px;
    height: 337px;
    flex-direction: column;
    align-items: center;
    background-size: contain;
    padding-top: 24px;

    .button:not(:first-child) {
      margin-top: 40px;
    }
  }

  &__feature-wrapper {
    width: 100%;
    padding: 0 24px;
  }

  &__feature-list {
    width: 100%;
    height: 72px;
    display: flex;
    align-items: center;
    padding-left: 20px;
    font-size: 14px;
    line-height: 150%;
    letter-spacing: 0.12em;
    color: $primary;
    cursor: pointer;
    border-bottom: 1px solid rgba(240, 147, 111, 0.2);
    white-space: nowrap;

    &:hover {
      font-weight: bold;
    }

    & label {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      padding-left: 20px;
      cursor: pointer;
    }

    &#{$self}__upload-photo {
      padding: 0;
    }
  }

  &__feature-icon {
    width: 20px;
    margin-right: 26px;
  }

  &__file-upload {
    width: 0;
    height: 0;
    visibility: hidden;
    user-select: none;
  }

  &__watermark-wrapper {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 150%;
    color: $white-40;
  }

  &__watermark {
    height: 19px;
    margin-left: 12px;
  }

  &__models-view {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: $primary;
  }

  &__models {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    padding: 0 24px;
  }

  &__live-preview-btn {
    display: flex;
    align-items: center;
    white-space: nowrap;
  }

  &__model-img {
    display: block;
    width: 30%;
    max-height: 123px;
    padding: 4px;
    cursor: pointer;

    &[data-visible='false'] {
      display: none;
    }
  }

  &__playground {
    position: relative;
    display: flex;
    height: 100%;
  }

  &__video {
    display: block;
    position: absolute;
    top: 0;
    opacity: 0;
    pointer-events: none;
  }

  &__toolbar {
    display: flex;
    position: absolute;
    top: 12px;
    right: 12px;
    align-items: center;

    img {
      width: 26px;
      cursor: pointer;

      &:not(:last-child) {
        margin-right: 14px;
      }

      &[data-visible='false'] {
        display: none;
        user-select: none;
        pointer-events: none;
      }
    }
  }

  &__result-canvas {
    background-color: $black-100;
  }

  &__proxy-canvas {
    display: none;
  }

  &__modal {
    position: fixed;
    top: 10%;
    left: 0;
    width: 100%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px;
    font-weight: bold;
    color: $primary;

    &-inner {
      background-color: $white-100;
      padding: 16px;
      text-align: center;
    }

    &-button {
      padding: 0;
      height: 32px;
      width: 56px;
      display: block;
      margin: auto;
      margin-top: 12px;
      border: none;
      cursor: pointer;
      box-sizing: border-box;
      font-family: $primary-font;
      font-style: normal;
      font-weight: 700;
      font-size: 12px;
      line-height: 150%;
      color: $black-100;
      text-transform: uppercase;
      background: linear-gradient(95.79deg, #f0936f 20.21%, #d39480 88.1%);

      &:hover {
        background: linear-gradient(95.79deg, #d39480 20.21%, #f0936f 88.1%);
      }
    }
  }
  &__tryon_console_wrapper {
    // width: 45%;
    padding: 1.5rem;
  }
  &__frame_wrapper {
    width: 55%;
    border-radius: 2rem;
  }
  &__tabWrapper {
    display: flex;
    border-bottom: 1px solid grey;
    gap: 1.5rem;
    padding: 0.8rem 0.2rem;
    font-size: 1.3rem;
    margin-bottom: 1rem;
  }
  &__tabItem {
    cursor: pointer;
  }
  &__selectedTabItem {
    color: $primary;
  }
  &__colorPicker {
    margin-top: 3rem;
    padding: 0.5rem 1rem;
    width: 100%;
    height: 5rem;
    border-radius: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
  }
  &__colorBox {
    width: 2.5rem;
    height: 2.5rem;
    border: 1px solid black;
    cursor: pointer;
    border-radius: 50%;
  }
}

.d-flex {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;

  .submit-btn {
    padding: 10px;
    margin-left: 10px;
    border-radius: 3px;
    border: none;
    background-color: rgba(255, 255, 255, 0.8);
    transition: background-color 0.5s;
    &:hover {
      background-color: rgba(255, 255, 255, 0.5);
    }
  }
  #container__frame_wrapper {
    height: 500px;
    width: 400px;
  }
  .sku-input {
    height: 35px;
    width: 200px;
    text-align: left;
  }
}
